.carousel-main {
  position: relative;
  height: max-content;
  
}
.carousel-main-container {
  height: 100%;
}

.carousel-main-container {
  .owl-stage-outer {
    height: 100%;
  }

  .owl-stage,
  .owl-item {
    height: 100%;
  }

  .owl-item {
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }

  .owl-item.center {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;

  }

  .carousel-main-item {
    height: 100%;

    .carousel-main-tag,
    .carousel-main-category,
    .carousel-main-description {
      position: absolute;
    }

    .carousel-main-bg {
      aspect-ratio: 16/9;
      position: relative;
      height: 100%;
      // width: 100%;
      object-fit: cover;
    }

    .carousel-main-tag {
      top: 5%;
      right: 5%;
    }

    .carousel-main-label {
      position: absolute;
      display: inline-block;
      font-family: $main-font;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);

      color: white;

      width: 100%;
      padding: 5%;
      bottom: 0%;
      left: 0%;
    }

    .carousel-main-category {
      position: relative;
      margin: 0;
      font-size: 1rem;
    }
    .carousel-main-description {
      position: relative;
      margin: 0;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
