.header-main {
  height: 220px;
  background-color: $light-blue-color;
  background-image: radial-gradient(circle at 30% 0%, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 75%);
}

.header-main-container {
  height: 100%;
  display: flex;
  background-image: url("../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.header-main-itv-logo {
  width: 60%;
  // height: auto;
  margin: auto;
  cursor: pointer;
}

.header-main-socials {
  display: none;
}

.social-icon {
  height: 38px;
  width: 38px;
  align-self: flex-end;
  display: block;
  background-size: inherit;
  background-position: center;
  background-size: cover;
  margin: 5px;
  cursor: pointer;
}

.fb-icon {
  background-image: url("../img/header/fb-icon.png");
}

.twitter-icon {
  background-image: url("../img/header/twitter-icon.png");
}

@media (min-width: $xsm-max-size) {
  // container-width: 95%
  .test {
    background-color: lawngreen;
  }
  
}

@media (min-width: $sm-max-size) {
  // container-width: 760px
  .header-main-socials {
    align-self: end;
    display: flex;
    // background-color: khaki;
    margin-bottom: 35px;
    margin-right: 95px;
    color: white;
  }
}

@media (min-width: $md-max-size) {
  // container-width: 1020px
}

@media (min-width: $lg-max-size) {
  
}
