.header-mainnav-container {
  // display: block;
  height: 48px;
  // background-color: lawngreen;
}

.header-mainnav-list__desktop {
  display: none;
}

.header-mainnav-list__mobile {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 0.9rem;
  height: 100%;
}

.header-mainnav-list {
  justify-content: space-around;
  align-items: center;

  list-style: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header-mainnav-dropdown {
  position: relative;
  width: 100%;
  text-align: center;
}

.header-mainnav-dropdown-content {
  position: absolute;

  text-align: left;
  width: 100%;

  background-color: orange;
  background-color: white;

  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.1s ease-in-out;
}

.header-mainnav-dropdown-content.active {
  // display: block;
  transform: scaleY(100%);
}

.header-mainnav-dropdown-item {
  margin: 1.5rem;
}

// --------------------
.test {
  height: 500px;
  // background-color: khaki;
}

@media (min-width: $xsm-max-size) {
  // container-width: 95%
}

@media (min-width: $sm-max-size) {
  // container-width: 760px
}

@media (min-width: $md-max-size) {
  // container-width: 1020px

  // tutaj rozwijamy listę

  .header-mainnav-container {
    height: 48px;
  }

  .header-mainnav-list__desktop {
    display: flex;
  }

  .header-mainnav-list__mobile {
    display: none;
  }

  .header-mainnav-list {
    font-weight: 700;
    font-size: 0.9rem;
    height: 100%;
  }

  .header-mainnav-item {
    margin: 0;
  }
}

@media (min-width: $lg-max-size) {
  // container-width: 1200px
  .header-mainnav-list {
    font-size: 1rem;
  }

  .header-mainnav-container {
    height: 62px;
  }
}
