.header-main {
  height: 220px;
  background-color: $light-blue-color;
  background-image: radial-gradient(circle at 30% 0%, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 75%);
}

.header-main-container {
  height: 100%;
  display: flex;
  background-image: url("../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}

.header-main-itv-logo {
  width: 75%;
  // height: auto;
  margin: auto;
  cursor: pointer;
}

.header-main-socials {
  display: none;
}



@media (min-width: $xsm-max-size) {
  // container-width: 95%
  .header-main-itv-logo {
    width: 320px;
  }


  .test {
    background-color: red;
  }
  
}

@media (min-width: $sm-max-size) {
  // container-width: 760px
  .header-main-socials {
    display: flex;
    justify-content: end;
    align-self: end;

    width: 50%;

    margin-bottom: 2rem;
    margin-right: 1.5rem;
    
    font-size: 3rem;
    color: white;
    // background-color: plum;
  }

  .header-main-itv-logo {
    width: 350px;
    margin-left: 5%;
  }

  .test {
    background-color: green;
  }
}

@media (min-width: $md-max-size) {
  // container-width: 1020px


  .test {
    background-color: blue;
  }
}

@media (min-width: $lg-max-size) {
  .test {
    background-color: silver;
  }
}
