.header-main {
  height: 220px;
  background-color: $light-blue;
  // background-image: 
} 

.header-main-container {
  height: 100%;
  display: flex;
  background-image: url("../img/header/header-bg.png"), radial-gradient(circle at 30% 0%, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0) 75%);;
  background-repeat: no-repeat;
  background-position: center;
}

.header-main-itv-logo {
  width: 75%;
  // height: auto;
  margin: auto;
  cursor: pointer;
}

.header-main-socials {
  display: none;
}

@include media-breakpoint-up(md) {
  .header-main-itv-logo {
    width: 320px;
  }
}

@include media-breakpoint-up(lg) {
  .header-main-socials {
    display: flex;
    justify-content: end;
    align-self: end;

    width: 50%;

    margin-bottom: 2rem;
    margin-right: 1.5rem;

    font-size: 3rem;
    color: white;
    // background-color: plum;
  }

  .header-main-itv-logo {
    width: 350px;
    margin-left: 5%;
  }
}