.month-top {
  height: 150px;
}

.month-top-container {
  display: flex;
  height: 100px;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
}


.month-top-item {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.month-top-id {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  aspect-ratio: 1/1;
  margin: 10px;
  
  background-color: $light-blue;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-family: $main-font;
  font-weight: 700;

}

.month-top-info {
  max-height: 100%;
}

.month-top-category {
  font-size: 0.75rem;
}

.month-top-title {
  font-weight: 700;
}
