.appointment {
    margin-top: 100px;
    display: flex;
    background-color: $blue-color;
    padding: 0;
}

.validate-info {
    margin-left: 20px;
    font-size: 13px;
    color: red;
}

.appointment__form {
    width: 90%;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

%appointment-item {
    padding: 10px;
    margin: 2%;
    font-size: $default-font-size * 2;
    color: white;
    border: none;
    border-bottom: 1px white solid;
    background-color: transparent;
}

.appointment__form input:not([type="submit"]) {
    @extend %appointment-item;
    width: 100%;
}

.appointment__form input[type="date"],
.appointment__form input[type="time"] {
    @extend %appointment-item;
    width: 45%;
    
}

.appointment__form input[type="submit"] {
    margin: 3rem auto;
}

.appointment__form select {
    @extend %appointment-item;
    width: 100%;
}

.appointment__form textarea {
    @extend %appointment-item;
    width: 100%;
    height: $default-font-size * 4;
    overflow-y: hidden;
}

.appointment__form option {
    background-color: $blue-color;
    
}

.appointment__form input::placeholder,
.appointment__form textarea::placeholder {
    color: white;
    font-size: $default-font-size * 2;
}

.appointment__form input:focus,
.appointment__form select:focus,
.appointment__form textarea:focus
{
    outline: none;
}

option {
    background-color: black;
}


@media (min-width: 769px) {
    .appointment {
        display: flex;
    }

    .appointment__bg {
        width: 40%;
        background-image: url("../img/contact-bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .appointment__form {
        padding-left: 5%;
        margin: 60px 0;
        width: 50%;
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .appointment__form input[type="submit"] {
        margin: 3rem 0.5rem;
    }
    
    .appointment__form input:not([type="submit"]) {
        width: 45%;
        font-size: $default-font-size;
    }
    
    .appointment__form select {
        width: 45%;
        font-size: $default-font-size;
    }
    
    .appointment__form input::placeholder,
    .appointment__form textarea::placeholder {
        color: white;
        font-size: $default-font-size;
    }
}

@media (min-width: 1200px) {
    .appointment__form {
        width: 40%;
    }
}