.footer-logo {
    width: 15%;
    display: block;
    margin: auto;
    margin-top: 60px;

}

.footer-logo img {
    width: 100%;
}

.footer-navbar {
    margin: 60px auto;
    width: 75%;
}

footer span {
    font-size: $default-font-size;
    padding: 60px;
}