.header {
    padding-top: 30px;
}

.header__background-top {
    display: none;
}

.header__background-left {
    display: inline-block;
    z-index: -1;
    position: absolute;
    height: 125px;
    left: -40px;
    top: 30vh;
}

.header__container{
    display: flex;
    flex-direction: row;
}




@media (min-width: 768px) {
    .header__background-top {
        display: inline-block;
        z-index: -1;
        position: absolute;
        width: 40vw;
        right: 0px;
    }

    .header__background-left {
        height: 25vw;
    }

    .navbar {
        width: 60%;
    }

    .navbar__list {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {
    .navbar {
        width: 50%;
    }

}