.special-btn {
    color: $purple-color;
    display: inline-block;
    line-height: 40px;
    height: 40px;
    font-size: 32px;
    margin: 5px;
}

.special-btn-icon {
    display: inline-block;
    line-height: 40px;
    // margin-top: 15px;
}

.special-btn:hover {
    color: $gray-color;
    cursor: pointer;
}






@media (min-width: 768px){
    .intro .container {
        padding-right: $container-width-md * 0.2;
    }

}

@media (min-width: 1200px){
    .intro .container {
        padding-right: $container-width-lg * 0.4;
    }
}
