.popular-procedures__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.popular-procedures__item {
    border: lightgray 1px solid;
    padding: 2%;
    width: 30%;
    margin: 0 1.5%;
}

.popular-procedures__img {
    width: 100%;

}

.popular-procedures__btn {


}