.section-header {
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 700;
  color: white;
  
  margin: 0 5px;
  text-transform: uppercase;
  font-family: $main-font;
  background-color: $light-blue;
}

.section-header h1 {
  margin: 0;
}

.section-header::before {
  content: '#';
  margin-left: 1.5rem;
  color: $yellow;
}

.section-header__highlighted {
  font-weight: 300;
}