.alertbar {
  background-color: orange;
  font-size: 0.9rem;
  font-weight: 400;
  // position: relative;
  // padding: 0;
  // height: 2.5em;
  cursor: default;

  .container:hover .alertbar-content{
    animation-play-state:paused !important;
  }

  .container {
    .alertbar-tag {
      display: inline-block;
      color: white;
      text-transform: uppercase;
      background-color: $red;
      font-weight: 600;
      padding: 5px 20px;
    }

    .alertbar-wrapper {
      display: block;
      width: 100%;
      padding: 5px 0;
      overflow: hidden;
      white-space: nowrap;

      .alertbar-content {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 35s linear infinite;

        .alertbar-text {
          position: relative;
          padding-right: 2rem;
          padding-left: 1rem;
        }

        .alertbar-text::after {
          content: "■";
          position: absolute;
          display: block;
          color: $red;
          bottom: -1px;
          right: 0;
        }
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
