.main-header {
  height: 220px;
  position: relative;
  background-color: #05092f;

  .main-header-itv-logo-wrapper {
    cursor: pointer;
    height: 100%;
    z-index: 100;

    .main-header-itv-logo {
      height: 100%;
      // width: 100%;
    }
  }
}

.main-header-socials {
  display: none;
  z-index: 100;
}

@include media-breakpoint-up(lg) {
  .main-header-container {
    background-image: url("../gfx/header/header-bg.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  .main-header-socials {
    display: flex;
    justify-content: end;
    align-self: end;

    width: 50%;

    margin-bottom: 2rem;
    margin-right: 1.5rem;

    font-size: 3rem;
    color: white;
  }
}

// Background gradient
// .main-header::after {
//   content: " ";
//   z-index: 1;
//   display: block;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   opacity: 0.1;
//   background-image: radial-gradient(circle at 30% 0%, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0) 75%);
//   background-repeat: no-repeat;
// }
