@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 95%;
  margin: auto;
}

p, input {
  font-family: "Roboto", sans-serif;
  color: #30383b;
  padding-bottom: 15px;
  font-weight: 300;
}

h1, h2, h3, h4 {
  font-family: "Bellota", cursive;
  color: #473452;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 22px;
}

ul {
  padding: 0;
}

section {
  padding: 60px 0;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

.navbar {
  width: 100%;
  padding-top: 40px;
  font-size: 15px;
}

.navbar__list {
  list-style-type: none;
}

.navbar__list li {
  display: inline-block;
  margin: 0 2%;
}

.navbar__list li a {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  color: #473452;
}

.navbar__logotxt {
  max-width: 100px;
  margin-right: 50px;
}

.navbar__logotxt img {
  width: 100%;
}

.leaflet-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.leaflet {
  border: lightgray 1px solid;
  padding: 2%;
  width: 100%;
  margin: 0 1.5%;
}

.leaflet:hover {
  border: transparent 1px solid;
  -webkit-box-shadow: 0 5px 20px #f0f0f0;
          box-shadow: 0 5px 20px #f0f0f0;
}

.leaflet span {
  font-family: "Bellota", cursive;
  font-size: 10px;
  display: block;
  margin-top: 15px;
}

.leaflet-img {
  width: 100%;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: 100%;
  position: relative;
  margin: 60px 0;
}

.card-img {
  width: 100%;
}

.card-info-container {
  width: 100%;
  position: absolute;
  top: 90%;
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
}

.card-info {
  padding: 10px;
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: white;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.card-info h3 {
  margin: 10px 0;
}

.card-info p {
  padding: 0;
  margin: 5% 0;
}

.card-info-socials {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.card:hover .card-info-container {
  top: 80%;
}

.card:hover .card-info {
  -webkit-box-shadow: 0 1em 1em lightgray;
          box-shadow: 0 1em 1em lightgray;
}

.card:hover .card-info-socials {
  opacity: 1;
}

.social-media-icon {
  color: #30383b;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #30383b;
  border-radius: 50%;
  line-height: 44px;
  margin: 0 4%;
  font-size: 30px;
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.social-media-icon:hover {
  color: white;
  background-color: #1ba4ce;
  border: 1px solid #1ba4ce;
}

.btn, .btn-gray, .btn-white, .sqr-btn {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  background-color: #1ba4ce;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  margin: 25px;
  padding: 0 2.5rem;
  border: none;
  color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn:hover, .btn-gray:hover, .btn-white:hover, .sqr-btn:hover {
  cursor: pointer;
}

.btn {
  border-radius: 20px;
}

.btn-gray {
  background-color: #30383b;
  border-radius: 20px;
}

.btn-white {
  background-color: white;
  color: #473452;
  border-radius: 20px;
}

.btn:hover,
.sqr-btn:hover {
  background-color: #30383b;
}

.btn-gray:hover {
  background-color: #1ba4ce;
}

@media (min-width: 768px) {
  .navbar {
    width: 60%;
  }
  .navbar__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .leaflet {
    border: lightgray 1px solid;
    padding: 5%;
    width: 80%;
    margin: 2% auto;
  }
  .our-team .container {
    width: 95%;
  }
  .card {
    width: 30%;
    margin: 0 1.5%;
    position: relative;
  }
  .social-media-icon {
    line-height: 34px;
    font-size: 22px;
    width: 34px;
    height: 34px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
}

@media (min-width: 1200px) {
  .leaflet {
    border: lightgray 1px solid;
    padding: 2%;
    width: 30%;
    margin: 0 1.5%;
  }
  .card {
    width: 30%;
    margin: 0 1.5%;
    position: relative;
  }
  .our-team .container {
    width: 1140px;
  }
  .social-media-icon {
    line-height: 44px;
    font-size: 30px;
    width: 44px;
    height: 44px;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
}

.header {
  padding-top: 30px;
}

.header__background-top {
  display: none;
}

.header__background-left {
  display: inline-block;
  z-index: -1;
  position: absolute;
  height: 125px;
  left: -40px;
  top: 30vh;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 768px) {
  .header__background-top {
    display: inline-block;
    z-index: -1;
    position: absolute;
    width: 40vw;
    right: 0px;
  }
  .header__background-left {
    height: 25vw;
  }
  .navbar {
    width: 60%;
  }
  .navbar__list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .navbar {
    width: 50%;
  }
}

.special-btn {
  color: #473452;
  display: inline-block;
  line-height: 40px;
  height: 40px;
  font-size: 32px;
  margin: 5px;
}

.special-btn-icon {
  display: inline-block;
  line-height: 40px;
}

.special-btn:hover {
  color: #30383b;
  cursor: pointer;
}

@media (min-width: 768px) {
  .intro .container {
    padding-right: 144px;
  }
}

@media (min-width: 1200px) {
  .intro .container {
    padding-right: 456px;
  }
}

.about-us__logo {
  width: 100px;
  margin-bottom: 20px;
}

.additional-heading {
  color: #473452;
  font-weight: 500;
}

@media (min-width: 768px) {
  .about-us p {
    padding: 0 72px;
  }
}

@media (min-width: 1200px) {
  .about-us p {
    padding: 0 144px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.gallery__item {
  position: relative;
  height: 50vh;
  width: 100%;
  margin: 10px 0;
}

.gallery__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-overlay {
  position: absolute;
  background-color: rgba(0, 123, 255, 0);
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.5s, opacity 0.5s;
  transition: background-color 0.5s, opacity 0.5s;
}

.gallery-overlay__link {
  font-family: "Bellota", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay-spa__icon {
  width: 15%;
}

.gallery-overlay__link span {
  display: block;
  margin: 5px;
}

.gallery__item:hover .gallery-overlay {
  background-color: #1ba4ce;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .gallery {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .gallery__item {
    position: relative;
    width: 25%;
    height: auto;
  }
}

.appointment {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1ba4ce;
  padding: 0;
}

.validate-info {
  margin-left: 20px;
  font-size: 13px;
  color: red;
}

.appointment__form {
  width: 90%;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.appointment__form input:not([type="submit"]), .appointment__form input[type="date"],
.appointment__form input[type="time"], .appointment__form select, .appointment__form textarea {
  padding: 10px;
  margin: 2%;
  font-size: 32px;
  color: white;
  border: none;
  border-bottom: 1px white solid;
  background-color: transparent;
}

.appointment__form input:not([type="submit"]) {
  width: 100%;
}

.appointment__form input[type="date"],
.appointment__form input[type="time"] {
  width: 45%;
}

.appointment__form input[type="submit"] {
  margin: 3rem auto;
}

.appointment__form select {
  width: 100%;
}

.appointment__form textarea {
  width: 100%;
  height: 64px;
  overflow-y: hidden;
}

.appointment__form option {
  background-color: #1ba4ce;
}

.appointment__form input::-webkit-input-placeholder,
.appointment__form textarea::-webkit-input-placeholder {
  color: white;
  font-size: 32px;
}

.appointment__form input:-ms-input-placeholder,
.appointment__form textarea:-ms-input-placeholder {
  color: white;
  font-size: 32px;
}

.appointment__form input::-ms-input-placeholder,
.appointment__form textarea::-ms-input-placeholder {
  color: white;
  font-size: 32px;
}

.appointment__form input::placeholder,
.appointment__form textarea::placeholder {
  color: white;
  font-size: 32px;
}

.appointment__form input:focus,
.appointment__form select:focus,
.appointment__form textarea:focus {
  outline: none;
}

option {
  background-color: black;
}

@media (min-width: 769px) {
  .appointment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .appointment__bg {
    width: 40%;
    background-image: url("../img/contact-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .appointment__form {
    padding-left: 5%;
    margin: 60px 0;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .appointment__form input[type="submit"] {
    margin: 3rem 0.5rem;
  }
  .appointment__form input:not([type="submit"]) {
    width: 45%;
    font-size: 16px;
  }
  .appointment__form select {
    width: 45%;
    font-size: 16px;
  }
  .appointment__form input::-webkit-input-placeholder,
  .appointment__form textarea::-webkit-input-placeholder {
    color: white;
    font-size: 16px;
  }
  .appointment__form input:-ms-input-placeholder,
  .appointment__form textarea:-ms-input-placeholder {
    color: white;
    font-size: 16px;
  }
  .appointment__form input::-ms-input-placeholder,
  .appointment__form textarea::-ms-input-placeholder {
    color: white;
    font-size: 16px;
  }
  .appointment__form input::placeholder,
  .appointment__form textarea::placeholder {
    color: white;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .appointment__form {
    width: 40%;
  }
}

.contact {
  background-color: #1ba4ce;
  width: 100%;
}

.contact h2,
.contact p {
  color: white;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.contact-info p {
  padding: 10px 5%;
  margin: auto;
  text-align: left;
}

.contact-row {
  width: 100%;
}

.contact-info img {
  height: 2rem;
  display: inline-block;
}

.contact-info p {
  display: inline-block;
}

.contact-form {
  width: 100%;
  margin-top: 30px;
}

.contact-us {
  width: 100%;
  font-size: 16px;
}

.contact-us input:not([type="submit"]),
.contact-us textarea {
  background-color: transparent;
  color: white;
  border: solid 1px white;
  width: 100%;
  margin: 1% 0;
  padding: 2%;
}

.contact-us textarea {
  height: 6rem;
}

.contact-us input:not([type="submit"]):focus,
.contact-us textarea:focus {
  outline: none;
}

.contact-us input:not([type="submit"])::-webkit-input-placeholder,
.contact-us textarea::-webkit-input-placeholder {
  color: white;
}

.contact-us input:not([type="submit"]):-ms-input-placeholder,
.contact-us textarea:-ms-input-placeholder {
  color: white;
}

.contact-us input:not([type="submit"])::-ms-input-placeholder,
.contact-us textarea::-ms-input-placeholder {
  color: white;
}

.contact-us input:not([type="submit"])::placeholder,
.contact-us textarea::placeholder {
  color: white;
}

@media (min-width: 768px) {
  .contact-info,
  .contact-form {
    width: 50%;
  }
  .contact-us input:not([type="submit"]),
  .contact-us textarea {
    border: none;
    border-bottom: 1px white solid;
    width: 100%;
    margin: 1% 0;
    padding: 3% 4%;
  }
}

.footer-logo {
  width: 15%;
  display: block;
  margin: auto;
  margin-top: 60px;
}

.footer-logo img {
  width: 100%;
}

.footer-navbar {
  margin: 60px auto;
  width: 75%;
}

footer span {
  font-size: 16px;
  padding: 60px;
}
/*# sourceMappingURL=style.css.map */