@import url("https://fonts.googleapis.com/css2?family=Bellota&family=Roboto&display=swap");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 95%;
  margin: auto;
}

p, input, button {
  font-family: "Roboto", sans-serif;
  color: #30383b;
}

h1, h2, h3, h4 {
  font-family: "Bellota", cursive;
  color: #473452;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
}

li a {
  text-transform: uppercase;
  color: #473452;
}

section {
  padding: 60px 0;
}

.text-center {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 60%;
    margin: auto;
  }
}

.header {
  padding-top: 30px;
}

.header__background {
  display: none;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__logotxt {
  max-width: 100px;
  margin-right: 50px;
}

.navbar__logotxt img {
  width: 100%;
}

.navbar {
  width: 100%;
  padding-top: 40px;
}

.navbar__list {
  list-style-type: none;
}

.navbar__list li {
  display: inline-block;
  margin: 0 2%;
}

@media (min-width: 768px) {
  .header__background {
    display: inline-block;
    z-index: -1;
    position: absolute;
    height: 80vh;
    right: 0px;
  }
}

.intro__container {
  width: 100%;
}

@media (min-width: 768px) {
  .intro__container {
    width: 60%;
  }
}

.about-us__logo {
  width: 100px;
  margin-bottom: 20px;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.gallery__item {
  position: relative;
  height: 50vh;
  width: 100%;
  margin: 10px 0;
}

.gallery__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-overlay {
  position: absolute;
  background-color: rgba(0, 123, 255, 0);
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 0.5s, opacity 0.5s;
  transition: background-color 0.5s, opacity 0.5s;
}

.gallery-overlay__link {
  font-family: "Bellota", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overlay-spa__icon {
  width: 15%;
}

.gallery-overlay__link span {
  display: block;
  margin: 5px;
}

.gallery__item:hover .gallery-overlay {
  background-color: #1ba4ce;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .gallery__item {
    position: relative;
    width: 25%;
    height: auto;
  }
}

.popular-procedures__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-procedures__item {
  border: lightgray 1px solid;
  padding: 2%;
  width: 30%;
  margin: 0 1.5%;
}

.popular-procedures__img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */