// ogolne stylowanie. Typografia, jakies marginesy itp itd

* {
  box-sizing: border-box;
}

$main-font: "Roboto Condensed", sans-serif;

body,
html {
  overflow-x: hidden;
}

body {
  font-family: $main-font;
  font-size: 16px;
}

section {
  margin: 3rem 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 24px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

h3 {
  font-size: 1rem;
  font-weight: 400;
}

h4 {
  font-size: 0.75rem;
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}

// @include media-breakpoint-up(lg) {
//   section {
//     margin: 1.5rem 0;
//   }
// }
