// ogolne stylowanie. Typografia, jakies marginesy itp itd

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 16px;
}

section {
  margin: 3rem 0;
}
// .dupa {
// color: blue;

// @include media-breakpoint-up(sm) {
//   color: $teal;
// }
// @include media-breakpoint-up(lg) {
//   color: $cyan;
// }
// }

// @include media-breakpoint-up(sm) {

//  }
// @include media-breakpoint-up(md) {

//  }
@include media-breakpoint-up(lg) {
  section {
    margin: 1.5rem 0;
  }
}
// @include media-breakpoint-up(xl) {

//  }
// @include media-breakpoint-up(xxl) {

//  }
