// ogolne stylowanie. Typografia, jakies marginesy itp itd

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 16px;
}

// .dupa {
  // color: blue;

  // @include media-breakpoint-up(sm) {
  //   color: $teal;
  // }
  // @include media-breakpoint-up(lg) {
  //   color: $cyan;
  // }
// }

// @include media-breakpoint-up(sm) {

//  }
// @include media-breakpoint-up(md) {

//  }
// @include media-breakpoint-up(lg) {

//  }
// @include media-breakpoint-up(xl) {

//  }
// @include media-breakpoint-up(xxl) {

//  }
