$gray-color: #30383b;
$blue-color:#1ba4ce;
$purple-color:#473452;

$default-font-size: 15px;
$page-title-font-size: 50px;
$section-header-font-size: 42px;
$box-header-font-size: 22px;

$container-width: 60%;

$Roboto: 'Roboto', sans-serif;
$Bellota: 'Bellota', cursive;