* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tytul {
    text-transform: capitalize;
    font-size: 0.9em;
    font-weight: 500;
}

#oblicz {
    width: 200px;
    height: 35px;
    align-self: center;
    margin: 4px;
    border-radius: 16px;
    border: 2px solid black;
    font-weight: 700;
    text-transform: uppercase;
    background-color: white;
}

#uczniowie {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

div:nth-child(odd) {
    background-color: #b2bd9b;
}

#title,
[id^=uczen] {
    background-color: #727a62;
    padding: 2px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

input,
.tytul,
.srednia {
    width: 7%;
    border: none;
    
    
}

.uczen {
    width: 16%;
}

input:focus {
    outline: none;
    background-color: silver;
    text-align: center;
    font-weight: 700;
}

